@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* .text-area { */
    /*     @apply w-full flex items-stretch border-none resize-none focus:outline-none focus:ring-0 placeholder-gray-500; */
    /* } */
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
